.example-container {
  width: 100%;
  height: 35.063rem;
}

.nav-bar {
  width: 18rem;
  height: 100;
  background-color: #FFF;
}

.keep-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 18px;
}
