/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.default-black {
  background-color: #303030;
}

.default-orange {
  background-color: #FCA311;
}

.default-white {
  background-color: #F0F0F0;
}

.default-gray {
  background-color: #606060;
}

.default-gray-dark {
  background-color: #909090;
}
