/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.default-black {
  background-color: #000000;
}

.default-orange {
  background-color: #FCA311;
}

.default-white {
  background-color: #FFFFFF;
}

.default-gray {
  background-color: #E5E5E5;
}

.default-blue {
  background-color: #14213D;
}
